h1 {
	text-align: center;
	color: #154696;
	font-weight: bold;
	font-family: Helvetica;
	margin-top: 40px;
	margin-bottom: 50px;
}

body{
	margin: 0px;
	background-color: #e3ebf7;
	font-family: Helvetica;
}

#input_text{
	margin-left: 150px;
}

#paste{
	margin-left: 150px;
}
